/* General Styles */
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.about-container {
  text-align: center;
  padding: 0;
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Center container */
   width: 100%; /* Ensure container doesn't exceed viewport width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  height:100%;
}

.top-video-container {
  position: relative;
  width: 100%;
  height: 40vh; /* Use viewport height for responsiveness */
  overflow: hidden;
}

.top-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  max-width: 90%; /* Ensure text container fits within the viewport */
  box-sizing: border-box; /* Include padding in width calculation */
}

.headers1 {
  margin: 20px auto;
}

.headers {
  margin: 20px auto;
}

.about-text {
  text-align: center;
  margin: 20px 5%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5%;
}

.client-image {
  width: 80%;
  max-width: 300px; /* Adjusted for smaller screens */
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-text {
  text-align: center;
  margin: 10px 5%;
}

.image-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5%;
}

.side-image {
  width: 80%;
  max-width: 500px; /* Adjusted for smaller screens */
  height: auto;
  margin-bottom: 10px;
}

.side-text {
  text-align: center;
  margin: 10px 5%;
}

.section {
  width: 100%;
  padding: 20px 5%;
  margin: 20px 0;
}

.about-company {
  background-color: #c3ddf4;
}

.our-mission {
  background-color: #f5f5dc;
}

.our-crew {
  background-color: #2a166f;
  color: rgb(185, 175, 175);
}

.our-profile {
  background-color: #d3ef8b;
}

/* Media Queries */
@media (min-width: 769px) {
  .profile-content {
    flex-direction: row;
  }

  .image-text-section {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .top-text {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .headers1, .headers {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .profile-content, .image-text-section {
    flex-direction: column;
    align-items: center;
  }

  .client-image, .side-image {
    width: 100%;
    max-width: none; /* Ensure images are responsive */
  }
}
